body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("img/black.");
    background-size: cover;
    font-weight: bold;
    color: blue;
    text-align: center;
    font-size: 24px;
}

h1 {
    color: goldenrod;
    border: dotted
    
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 10px;
    font-weight: bold;
    border: solid;
    border-radius: 33px;
    margin-bottom: 88px;
    margin-top: 100px;
    text-align: center;
    transition: all 0.3s ease-in-out; /* Apply a smooth transition for all properties */
 }

button:hover {
    animation: transporter 1s ease-in-out, spin 1s linear; /*
        Add a spin animation on hover, assuming you have a @keyframes rule for "spin"
    */
    color: blue; /* Change text color on hover */
    font-weight: bold; /* Add a keyword to the style */
    transform: scale(1.2); /* Increase size on hover */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
